@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
  }

.estilo-background-nav {
    background-color: #024959;
    height: 75px;
}


.estilo-background-nav #tituloNav {
    font-size: 25px;
    margin-left: 50px;
    line-height: 1
    
}


.estilo-background-nav a {
    font-size: 15px;
    font-weight: bold;
}

.nav-link{
    color: white !important;
}

.modal-content{
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#container-Inicio {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #026773;
    color: white;
}

#container-meio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

#container-pesquisa-voo {
    border-radius: 20px;
    background-color: white;
    color: white;
    height: 250px;
    width: 100vw;
    position: absolute;
  /*  top: 400px;
    left: 20%; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    color: black;


}


.form-select {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn-custom {
    width: 300px;
    background-color: #026773 !important;
    border-color: #026773 !important;
}

#formDestino{
    transform: scale(1.13);
}

.div-pre-Selection{
    border-radius: 20px;
}

.div-Selection{
    height: 40vh;
    
}

.card{
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


.card-title{
    font-size: 25px;
}

.card-text-price{
    font-size: 20px;
    font-weight: bold;
    margin-top: -15px;
}


/* BANNER  */

.img-banner{
    width: 100%; 
    height: 100%; 
    border-radius: 20px; 
    filter: blur(1px) brightness(0.5);
}


.texto-banner{
    position: absolute; 
    top: 50%; left: 18%; 
    transform: translate(-50%, -50%); 
    text-align: left; 
    color: white;
    text-shadow: 0.5px 0.5px 0 black, -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black;
}

.card-width{
    width: 310% !important;
}

.card-horizontal-style{
    border-radius: 50px; 
    color: white; 
    margin-top: 5px;
}

.checkCheckin{
    transform: scale(1.5);
}

.container-resumo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

footer {
    position: absolute;
    bottom: 100;
    background-color: #026773;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}


